@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/_bootstrap';

/* CSS declarations go here */
body {
  padding-top: 40px;
  background-color: #32393C;
}

.site-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  margin-bottom: 20px;
}

#login-submit, #register-submit {
  width: 100%;
  text-align: center;
}

input.login-field.form-control {
  width: 100%;
  margin-bottom: 10px;
}

form:first-child {
  margin-bottom: 50px;
}

.login-box {
}

a.logout {
  text-color: white;
  float: right;
  padding-right: 20px;
  text-decoration: none;
}

